body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: lightgray;
}

header {
  background-color: dodgerblue;
  padding: 10px;
  color: white;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        color: black;
      }
    }
  }
}

main {
    .leaflet-container {
        height: 60vh;
        width: 100%;
        margin: 0 auto;
    }

    .custom-tabs {
        margin-top: 20px;

        .nav-tabs {
            justify-content: center;

            li a {
                background-color: #007bff;
                border-color: #007bff;
                color: white
            }

            li .nav-link.active {
                background-color: #0069DD;
                border-color: #0069DD;
                color: white
            }

            li .nav-link:hover {
                background-color: #0069DD;
                border-color: #0069DD;
                color: white
            }
        }

        .tab-content {
            text-align: center;

            .tab-pane {
                padding: 10px;
            }
        }

        input {
            max-width: 250px;
            margin: auto;
        }

        button {
            margin: 10px;
        }
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}